version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb+srv://ShlokSathwara:Shlok#24@aibudgetsystem.be3jipx.mongodb.net/budgetDB?retryWrites=true&w=majority
      - JWT_SECRET=aI8kL9mN2pQ7rS5tU3vW4xY1zAbCdEfGhIjKlMnOpQrStUvWxYz
      - PORT=5000
    volumes:
      - ./server:/app/server
    command: npm run dev --prefix server

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE=http://localhost:5000
    volumes:
      - ./client:/app
